{:paths   ["src/clj" "src/java" "src/resources" "target/classes"]
 :deps    {org.clojure/clojure     {:mvn/version "1.11.1"}
           org.clojure/tools.macro {:mvn/version "0.1.5"}
           riddley/riddley {:mvn/version "0.2.0"}}
 :aliases {:build {:extra-paths ["build"]
                   :extra-deps  {io.github.clojure/tools.build {:git/tag "v0.6.2" :git/sha "226fb52"}}
                   :ns-default  build}}
 }
